@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* CAROUSEL */
#carousel{
    width: 94.5vw;
    margin: auto;
}
/* DEAL OF THE DAY */
#dotd{
    margin: 1.5rem;
    background-color: #f0f3f6;
    border: 1px solid #f0f3f6;
    border-radius: 5px;
}
#dotd-heading{
    margin-left: 20px;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
#dotd-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#dotd-cards > div{
    margin: 10px 0px;
}
/* FEATURED CATAGOTY */
#fc{
    margin: 1.5rem;
    background-color: #f0f3f6;
    border: 1px solid #f0f3f6;
    border-radius: 5px;
}
#fc-heading{
    margin-left: 20px;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
#fc-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 40vh;
    overflow-y: scroll;
}
#fc-cards > div{
    margin: 10px 10px;
    transition: 0.5s all;
}
#fc-cards > div:hover{
    box-shadow: 3px 3px 10px 0px rgb(51, 43, 69);
}
/* TOP CASHBACK STORES */
#tcs{
    margin: 1.5rem;
    background-color: #727471;
    /* border: 1px solid #7d8084;
    border-radius: 5px; */
}
#tcs-heading{
    margin-left: 20px;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #f0f3f6;
    font-size: 1.2rem;
}
#tcs-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#tcs-cards > div{
    margin: 10px 10px;
    transition: 0.5s all;
}
/* HOW TO EARN CASHBACK */
#htwc{
    margin: 1.5rem;
    background-color: #e2e2e2;
}
#htwc-heading{
    margin-left: 20px;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    /* color: #f0f3f6; */
    font-size: 1.2rem;
}
#htwc-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#htwc-cards > div{
    margin: 10px 0px;
    transition: 0.5s all;
    background-color: #e2e2e2;
    border: #e2e2e2;
}
#htwc-cards > div > div{
    display: flex;
    flex-direction: column;
}
#htwc-cards > div > div > h1 , #htwc-cards > div > div > h5 ,#htwc-cards > div > div > p{
    display: inline;
    margin: auto;
}