@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* CAROUSEL */
#carousel{
    width: 94.5vw;
    margin: auto;
}
/* DEAL OF THE DAY */
#dotd{
    margin: 1.5rem;
    background-color: #f0f3f6;
    border: 1px solid #f0f3f6;
    border-radius: 5px;
}
#dotd-heading{
    margin-left: 20px;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
#dotd-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#dotd-cards > div{
    margin: 10px 0px;
}
/* FEATURED CATAGOTY */
#fc{
    margin: 1.5rem;
    background-color: #f0f3f6;
    border: 1px solid #f0f3f6;
    border-radius: 5px;
}
#fc-heading{
    margin-left: 20px;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
#fc-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 45vh;
    overflow-y: scroll;
}
#fc-cards > div{
    margin: 2px 2px;
    height: 40%;
    transition: 0.5s all;
}
#fc-cards > div:hover{
    box-shadow: 3px 3px 10px 0px rgb(51, 43, 69);
}
/* TOP CASHBACK STORES */
#tcs{
    margin: 1.5rem;
    background-color: #727471;
    /* border: 1px solid #7d8084;
    border-radius: 5px; */
}
#tcs-heading{
    margin-left: 20px;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #f0f3f6;
    font-size: 1.2rem;
}
#tcs-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#tcs-cards > div{
    width: 14.5vw !important;
    margin: 5px 5px;
    transition: 0.5s all;
}
/* HOW TO EARN CASHBACK */
#htwc{
    margin: 1.5rem;
    background-color: #e2e2e2;
}
#htwc-heading{
    margin-left: 20px;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    /* color: #f0f3f6; */
    font-size: 1.2rem;
}
#htwc-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#htwc-cards > div{
    margin: 5px 0px;
    transition: 0.5s all;
    background-color: #e2e2e2;
    border: #e2e2e2;
    text-align: center;
}
#htwc-cards > div > div{
    display: flex;
    flex-direction: column;
}
#htwc-cards > div > div > h1 , #htwc-cards > div > div > h5 ,#htwc-cards > div > div > p{
    display: inline;
    margin: auto;
}
/* RESPONSIVE */
@media only screen and (max-width: 950px) {
    #searchbar{
        margin-right: 2em;
    }
    #dotd-heading > p{
        width: max-content;
        margin: auto;
    }
    #dotd-cards > div{
        width: 40vw !important;
    }
    #fc-heading {
        width: max-content;
        margin: auto;
    }
    #fc-cards > div{
        width: 29vw !important;
        height: 10vh !important;
        margin:5px 0;
    }
    #fc-cards{
        height: 25vh;
    }
    #tcs-heading{
        width: max-content;
        margin: auto;
    }
    #tcs-cards{
        height: 25vh;
        overflow-y: scroll;
    }
    #tcs-cards > div{
        width: 25vw !important;
    }
    #htwc-heading{
        width: max-content;
        margin: auto;
    }
    #htwc-cards{
        display: flex;
        flex-direction: column;
        /* flex-wrap: nowrap; */
        height: 30vh;
        width: 100%;
        overflow-x: auto;
    }
    #htwc-cards > div{

        /* display: block; */
        width: 50vw !important;
        /* content: inherit; */
        text-align: center;
        /* white-space: nowrap; */
        /* margin: auto; */
        /* overflow-x: scroll; */
    }
    .navbar-brand{
    position: absolute;
    top: 4px;
    left: 90px;
    }
    #login-btn{
        position: absolute;
        top: 6px;
        right: 10px;
    }
}
@media only screen and (max-width: 450px) {
    #dotd-cards > div{
        width: 40vw !important;
    }
    /* #fc-cards > div{
        height: 20% !important;
        margin: 15px 0px;
    } */
}
/* Bootstap modification */
.navbar-toggler-icon{
    height: 1.2em;
    width: 1.2em;
}
.navbar-brand{
    margin-right: 0rem;
}